@model Weather;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <br />
   
        @using (Html.BeginForm("WeatherAPIForm", "Home", FormMethod.Post)) // criar formulario
        {
            // search bar
            <div class="input-group mb-3 searchBar">
                @Html.TextBoxFor(wm => wm.locationName,new   /*metodos para desenhar os inputs html. fazemos @html. --> vai mapear os atributos k quero*/
            //new --> form control *@
            { @placeholder = "Weather cities", @class = "form-control", @required = "true"} )
                <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
            </div>

            // Radio buttons
            <div class="radioButtonsGroup">
                <div class="form-check form-check-inline radioButtonItem">
                    @Html.RadioButtonFor(wm => wm.Period,"Today", new { @checked = "true",@class = "form-check-input"})
                    <label class="form-check-label  text-light radioButtonsText" for="inlineRadio1">Today</label>
                </div>
            <div class="form-check form-check-inline radioButtonItem">
                    @Html.RadioButtonFor(wm => wm.Period,"Tomorrow", new { @class = "form-check-input"})
                <label class="form-check-label text-light radioButtonsText" for="inlineRadio2">Tomorrow</label>
                </div>
            <div class="form-check form-check-inline radioButtonItem">
                    @Html.RadioButtonFor(wm => wm.Period,"Next 7 days", new { @class = "form-check-input"})
                <label class="form-check-label  text-light radioButtonsText" for="inlineRadio3">Next 7 Days</label>
                </div>
            <div class="form-check form-check-inline radioButtonItem">
                    @Html.RadioButtonFor(wm => wm.Period,"Next 15 days", new { @class = "form-check-input"})
                <label class="form-check-label  text-light radioButtonsText" for="inlineRadio3">Next 15 days</label>
                </div>
            </div>
        

        }
    

   